#logo > img{
    width: 30%;
    height: 30%;
}
.productName {
    font-size: 40px;
    margin-top: 60px;
}
#body-text {
    display: block;
    text-align: center;
    align-content: center;
}
#roll > img {
    width: 15%;
    height: 15%;
    border: 3px solid black;
}
#enlargedRoll > img {
    width: 60%;
    height: 60%;
    border: 3px solid black;

}
#explanation {
    display: inline-block;
    text-align: left;
}
.description {
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: column;
}
.choices {
    display: inline-block;
    align-content: left;
    text-align: left;
    margin-right: 60px;
}
.seconddropbox {
    margin-top: 20px;
    margin-bottom: 30px;
}
#KeepOriginal {
    display: block;
}
#packSize {
    display: block;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
#price {
    margin-right: 10px;
    display: block;
}
#AddCart {
    display: inline-block;
    border: 2px solid black;
    color: black;
    background-color: yellow;
    margin-left: 10px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.divider{
    border-top: 4px solid black;
    padding-top: 30px;
}
.divider2{
    display: block;
    margin: 0px auto 0px auto;
    border-top: 3px solid black;
    padding-top: 30px;
    width:  50%;
}
body {
    font-family: sans-serif;
}
h5 {
    text-decoration: underline;
}
a {
    color: black;
    background-color: none;
    text-decoration: none;
}
