body {
    font-family: sans-serif;
}

#logo > img{
    width: 40%;
    height: 40%;
}
#body-text {
    display: block;
    text-align: center;
    align-content: center;
}
#roll > img {
    width: 50%;
    height: 50%;
    border: 3px solid black;
 
}
#explanation > p {
    display: inline-block;
    text-align: left;
}
#KeepOriginal {
    display: block;
}
#price {
    margin-right: 10px;
    display: inline-block;
}
#AddCart {
    border: 2px solid black;
    color: black;
    background-color: yellow;
    margin-left: 10px;
}
.divider{
    border-top: 4px solid black;
    padding-top: 30px;
}